<h1>Home</h1>
<dev>
  <p>Welcome to my portfolio page!</p>
  <p>Hello, my name is Nanami.<p>
  <p>I'm a software engineer passionate about building scalable web applications and thoughtful user experiences. With a background in Ruby on Rails, JavaScript, and AWS, I’ve contributed to large-scale systems including an AI-powered transportation demand app that reached No.1 market share in Japan. I enjoy creating clean, intuitive interfaces and solving real-world problems through code.</p>

  <p>Here you can find links to various <%= link_to "works", works_path %></p>
  <p>and <%= link_to "contacts", contacts_path %>.</p>
</dev>