<h1>Welcome to my portfolio page!</h1>
<div class="home">
  <div class="home_container">
    <h2>introduction</h2>
    <p>Hello, my name is Nanami.</p>
    <p>I developed an interest in programming when I was at a stage of re-evaluating my career.</p>
    <p>I initially started studying programming out of simple curiosity.</p>
    <p>As I continued learning, I discovered the excitement of building applications with my own hands.</p>
    <p>That passion still drives me today, and I continue to feel inspired by the joy of seeing the code I write come to life directly in the system.</p>
    <p>Recently, I have been staying in Sydney to broaden both my skills and perspectives.</p>
    <p>I am now looking for new opportunities in global positions where I can continue to grow and contribute.</p>
  </div>

  <div class="home_container">
    <h2>about me</h2>
    <p>I'm a software engineer passionate about building scalable web applications and thoughtful user experiences. </p>
    <p>With a background in Ruby on Rails, JavaScript, and AWS, I’ve contributed to large-scale systems including an AI-powered transportation demand app that reached No.1 market share in Japan.</p>
    <p>I enjoy creating clean, intuitive interfaces and solving real-world problems through code.</p>
    <p>Outside of coding, I have always enjoyed physical activities, starting with the sports I was passionate about during my student days.</p>
    <p>Recently, I’ve become particularly interested in spending time in nature, and I enjoy activities like fishing and camping.</p>
    <p>I value both the time I spend in front of the screen and the time I spend connecting with the outdoors.</p>
  </div>
</div>