<div class="section">
    <div class="container">
        <h1>Contact</h1>
            <div class="contacts">
                <p>I'm always happy to connect! <br>
                    Whether you have a question, opportunity, or just want to say hi—feel free to reach out anytime.
                </p>

                <ul><%= link_to image_tag("InBug-White.png"), "https://www.linkedin.com/in/nanami-hori-0a4527329/"%></ul>
                <ul><%= link_to image_tag("github-mark-white.png"), "https://github.com/Nanam173"%></ul>
                <ul>email: nnm.hori@gmail.com</ul>
            </div>
    </div>
</div>