<h1>Projects</h1>
    <h2>On-Demand Transportation System</h2>
        <ul>
            <p>Summary:</p>
            <li>Developed a on-demand transportation system, which achieved top market share in Japan during development.</li>
        </ul>
        <div class="devide_center">
            <div class="left">
                <p>Tech Used:</p>
                <p>Ruby on Rails, AWS, JavaScript, HTML/CSS</p>
            </div>
            <div class="right">
                <p><%= image_tag 'ruby.png', alt: 'Ruby', class: 'icon' %></p>
                <p><%= image_tag 'aws-icon.png', alt: 'AWS', class: 'icon' %></p>
                <p><%= image_tag 'javascript-y.png', alt: 'JavaScript', class: 'icon' %></p>
            </div>
        </div>
        <ul>
            <p>My Role & Contributions:</p>
        
            <li>Designed and implemented backend features using Ruby on Rails, focusing on scalability and performance</li>
            <li>Developed a patented notification system to enhance communication and streamline operations</li>
            <li>Integrated Google reCAPTCHA for secure and user-friendly authentication</li>
            <li>Managed cloud infrastructure using AWS services and Terraform, ensuring stability and automation</li>
            <li>Contributed to Android app development (Java/Kotlin) to support mobile user accessibility</li>
            <li>Led and collaborated in Agile sprints to continuously improve system quality and delivery speed</li>
            <li>Provided direct customer support, solving technical issues and improving user satisfaction</liß>
        </ul>
        <div class='note'>Note: source code not publicly available due to company policy.</div>

        <ul>
            <p>System Overview:</p>
            <li>Consumer App (PC/mobile): Riders book their trip by selecting departure and arrival points</li>
            <li>Operator App: Staff manage incoming bookings and vehicle operations in real time</li>
            <li>Reporting Dashboard: Service providers monitor metrics, demand, and performance</li>
            <li>Driver App:vBus/taxi drivers receive updated routes and instructions</li>
        </ul>

        <ul>
            <p>Key Features:</p>
            <li>Dynamic route generation using external APIs (e.g., Google API, Directions API)</li>
            <li>Real-time re-routing when new reservations are added</li>
            <li>Parameter-based route logic configurable by service providers</li>
            <li>Scalable backend architecture handling multiple services</li>
        </ul>

    <h1>Skills & Tech Stack</h1>
        <div class="devided_3">
            <ul class="subheading"><p>Frameworks</p>
                <li>Ruby on Rails</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
            </ul>
            <ul class="subheading"><p>DevOps</p>
                <li>AWS (EC2, RDS, S3, CloudWatch)</li>
                <li>Terraform</li>
                <li>Jenkins</li>
                <li>Git</li>
            </ul>
            <ul class="subheading"><p>Databases</p>
                <li>MySQL</li>
            </ul>
        </div>

        <div class="devided_3">
            <ul class="subheading"><p>Tools & Platforms</p>
                <li>Linux</li>
                <li>GitHub</li>
                <li>Docker</li>
                <li>New Relic</li>
            </ul>
            
            <ul class="subheading"><p>Development Practices</p>
                <li>Agile/Scrum</li>
                <li>Test-Driven Development</li>
                <li>Version Control</li>
                <li>Debugging</li>
            </ul>
            
            <ul class="subheading"><p>Other Skills</p>
                <li>System Design</li>
                <li>UI/UX Design</li>
                <li>Customer Support Communication</li>
            </ul>
        </div>
