<div id="projects" class="tabcontent">
<h1>Projects</h1>
    <div class="contents">
        <p>Welcome to the Projects page. Add your project details here.</p>
        <h2>On-Demand Transportation System</h2>
            <div>
                <ul>
                    <dev>Tech Used:</dev>
                    <li>Ruby on Rails, AWS, JavaScript, HTML/CSS</li>
                </ul>
                <ul>
                    <dev>Summary:</dev>
                    <li>Developed a on-demand transportation system, which achieved top market share in Japan during development.</li>
                </ul>
                <ul>
                    <dev>What I did:</dev>
                
                    <li>Designed and implemented backend features using Ruby on Rails, focusing on scalability and performance</li>

                    <li>Developed a patented notification system to enhance communication and streamline operations</li>
                        
                    <li>Integrated Google reCAPTCHA for secure and user-friendly authentication</li>
                        
                    <li>Managed cloud infrastructure using AWS services and Terraform, ensuring stability and automation</li>
                        
                    <li>Contributed to Android app development (Java/Kotlin) to support mobile user accessibility</li>
                        
                    <li>Led and collaborated in Agile sprints to continuously improve system quality and delivery speed</li>
                        
                    <li>Provided direct customer support, solving technical issues and improving user satisfaction</liß>
                </ul>
                <div>Note: source code not publicly available due to company policy.</div>
            </div>
    </div>
</div>

<div id="skills" class="tabcontent">
    <h1>Skills & Tech Stack</h1>
    <div class="contents">
        <ul>
            <strong>Frameworks:</strong>
            <li>Ruby on Rails, JavaScript, HTML, CSS, Java</li>
        </ul>

        <ul><strong>DevOps:</strong>
            <li>AWS (EC2, RDS, S3, CloudWatch), Terraform, Jenkins, CI/CD pipelines, Git</li>
        </ul>

        <ul><strong>Databases:</strong>
            <li>MySQL</li>
        </ul>

        <ul><strong>Tools & Platforms:</strong>
            <li>Linux, GitHub, Docker, New Relic, Google reCAPTCHA</li>
        </ul>
        
        <ul><strong>Development Practices:</strong>
            <li>Agile/Scrum, Test-Driven Development, Version Control, Debugging</li>
        </ul>
        
        <ul><strong>Other Skills:</strong>
            <li>System Design, UI/UX Design, Customer Support Communication</li>
        </ul>
    </div>
</div>
