/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.tab-container {
    height: auto;             /* 高さを自動に */
    overflow: visible;  
    position: fixed;     /* または absolute/fixed でもOK */
    z-index: 10;
    background-color: #2d8fdd;
    width: 100%;
    top: 0;
}

.tab-container li {
    float: left;
    list-style-type: none;
}

.tab-container button {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2em 2em;
    transition: 0.3s;
}

.tab-container button:hover {
    background-color: #62a520;
}
  
.tab-container button.active {
    background-color: #b30505;
}

.contents {
    background-color: black;
    font-family: 'Courier New';
    color: white;
    background-size: 100% 100%;
    font-size: large;
    text-align: center;
    margin-top: 6em;
}

/* h1 {
    font-size: 3rem;
    color: #82ee23;
    margin-top: 2em;
} */

.section {
    display: flex;
    justify-content: center; /* 横方向の中央 */
    align-items: center;     /* 縦方向の中央 */
    height: 100vh; 
}

.container {
    margin: 0 auto;
    padding: 2em;
    background-color: #1a1a1a;
}

.subheading {
    border: solid 1px #82ee23;
    border-radius: 10px;
    margin: 2em 1em;
}

.subheading p {
    display: inline-block;
    border-bottom: solid 4px #82ee23;
}

.subheading li {
    list-style-type: none;
}

ul li {
    padding: 0.5em;
}

img.icon {
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    align-self: center;
}

.content li:before {
    content: " ▶︎ ";
    font-size: 10px;
    vertical-align: middle;
    line-height: 1px;
}

.note {
    font-size: 0.8rem;
    color: #82ee23;
    margin-top: 2em;
}

.contacts ul {
    float: left;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.contacts img{
    width: 40px;
    height: 40px;
}