/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    background-color: #f0f0f0;
}

header {
   width: 100%;      
   height: 60px;
   background-color: #20cc98;
   text-align: center;
   position: fixed;
   top: 0;
   z-index: 10;
}

nav a {
    color: rgb(13, 95, 7);
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 1s;
    height: 33px;
    line-height: 33px;
    width: auto;
    text-align: center;
}

nav a:hover {
    background-color: #f0f0f0;
}

main {
    margin-top: 100px;
}

#container {
    width: 50%;
    margin: 0 auto;     
    text-align: center;
}

h1 {
    font-weight: normal;
    color: rgb(164, 123, 11);
}