/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.introduction {
  padding: 0 24px;
  line-height: 1.5;
  font-size: 1.2rem;  
}

.introduction h2 {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: solid 1px #20cc98;
}